

/* Global */

  .aniText{
    font-family: 'Orbitron', sans-serif !important;
    color: #fff !important;
      position: relative;
      top: 50%;  
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
  }

  .aniDescription {
      font-family: 'Orbitron', sans-serif !important;
      color: #fff !important;
        position: relative;
        top: 50%;  
        width: 21em;
        margin: 0 auto;
        border-right: 2px solid rgba(255,255,255,.75);
        font-size: 140%;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        transform: translateY(-50%);    
  }

  .aniHeader {
    font-family: 'Orbitron', sans-serif !important;
    color: #fff !important;
      position: relative;
      top: 50%;  
      width: 21em;
      margin: 0 auto;
      border-right: 2px solid rgba(255,255,255,.75);
      font-size: 140%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);    
}
  
  /* Animation */
  .anim-typewriter{
    animation: typewriter 3s steps(19) 1s 1 normal both,
               blinkTextCursor 650ms steps(19) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 7em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

  // ######################################

  .header-headerwriter{
    animation: headerwriter 3s steps(55) 4s 1 normal both,
               blinkTextCursor 650ms steps(55) infinite normal;
  }
  @keyframes headerwriter{
    from{width: 0;}
    to{width: 14.5em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }

    // ######################################

    .desc-descwriter{
      animation: descwriter 3s steps(55) 4s 1 normal both,
                 blinkTextCursor 650ms steps(55) infinite normal;
    }
    @keyframes descwriter{
      from{width: 0;}
      to{width: 14em;}
    }
    @keyframes blinkTextCursor{
      from{border-right-color: rgba(255,255,255,.75);}
      to{border-right-color: transparent;}
    }


    .zoom {
      transition: transform .4s; /* Animation */
      // margin: 0 auto;
    }
    
    .zoom:hover {
      transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    }